<br>
<p class="text-center"><img src="assets/images/logo.png" width="200"></p>
<br>
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <article class="panel panel-default">
        <section class="panel-body">
            <h3 class="text-center">Envíanos tu email para restaurar tu contraseña</h3><br>
            <form name="recoveryForm">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" ng-model="name" required="">
                </div>
                <button class="btn btn-primary btn-block" ng-disabled="recoveryForm.$invalid">Enviar</button>
                <hr>
                <a href="#/login" class="text-center btn btn-primary btn-block">¿Ya tienes cuenta? Inicia Sesión</a>
                <a href="#/singup" class="btn btn-info btn-block">Regístrate con Email</a>
                <a href='' class="btn btn-primary btn-block">Regístrate con Facebook</a>
            </form>
        </section>
    </article>
</div>

